<section id="service-requests-section">
    <div class="container" #serviceRequestsTable>
        <div class="main-body">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Data</th>
                        <th>Hora</th>
                        <th>Detalhes da Solicitação</th>
                        <th>Status</th>
                        <th>Avaliação</th>
                        <th>Prestador</th>
                        <th>Confirmar Solicitação</th>
                        <th>Cancelar Solicitação</th>
                        <th>Avaliar Solicitação</th>
                        <th>Comentário Solicitação</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let userServiceRequest of userServiceRequests">
                        <td>{{userServiceRequest.date}}</td>
                        <td>{{userServiceRequest.hour}}</td>
                        <td>{{userServiceRequest.requestDetails}}</td>
                        <td>{{userServiceRequest.status}}</td>
                        <td>{{userServiceRequest.rating}}</td>
                        <td>{{userServiceRequest.provider.user.fullName}}</td>
                        <td>
                            <a class="btn" type="button" (click)="updateServiceStatus(userServiceRequest.id, 'FINISH')"
                                *ngIf="isAccepted(userServiceRequest.status) && !isCanceled(userServiceRequest.status)">
                                <img id="rate-image" src="../../../assets/img/confirm-icon.png"
                                    alt="Link para finalizar o serviço solicitado. Representado por um check verde dentro de um quadrado.">
                            </a>
                        </td>
                        <td>
                            <a class="btn" type="button" (click)="updateServiceStatus(userServiceRequest.id, 'CANCEL')"
                                *ngIf="!isCanceled(userServiceRequest.status) && !isFinished(userServiceRequest.status)">
                                <img id="rate-image" src="../../../assets/img/cancel-icon.png"
                                    alt="Link para cancelar o serviço solicitado. Representado por um 'x' branco dentro de um círculo vermelho.">
                            </a>
                        </td>
                        <td>
                            <a class="btn" type="button" data-bs-toggle="modal" data-bs-target="#evaluateServiceModal"
                                (click)="setSelectedRequestId(userServiceRequest.id)"
                                *ngIf="isFinished(userServiceRequest.status) && !isRated(userServiceRequest.rating)">
                                <img id="rate-image" src="../../../assets/img/rating-icon.png"
                                    alt="Link para avaliar o serviço solicitado. Representado pelo contorno de uma estrela dentro de um quadrado.">
                            </a>
                        </td>
                        <td>
                            <a class="btn" type="button" data-bs-toggle="modal" data-bs-target="#commentServiceModal"
                                (click)="setSelectedRequestId(userServiceRequest.id)"
                                *ngIf="isFinished(userServiceRequest.status)">
                                <img id="rate-image" src="../../../assets/img/comment-icon.png"
                                    alt="Link para comentar o serviço solicitado. Representado por um balão de conversa com reticências dentro.">
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>

<!-- Evaluate Service Modal -->
<section class="modal fade" id="evaluateServiceModal" tabindex="-1" aria-labelledby="evaluateServiceModalLabel"
    aria-hidden="true">
    <article class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="evaluateServiceModalLabel">Avaliar Serviço</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form #evaluateServiceForm="ngForm" (ngSubmit)="onEvaluateService(evaluateServiceForm)">
                    <div class="form-group">
                        <label for="rating">Nota *</label>
                        <input type="number" ngModel name="rating" class="form-control" id="rating" min="0" max="5"
                            required>
                    </div>
                    <div class="form-group">
                        <label for="comment">Comentário Sobre o Serviço</label>
                        <textarea class="form-control" ngModel name="comment"
                            placeholder="Comentário sobre o atendimento do serviço solicitado" id="comment"></textarea>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Fechar</button>
                        <button [disabled]="evaluateServiceForm.invalid" type="submit"
                            class="btn btn-success">Avaliar</button>
                    </div>
                </form>
            </div>
        </div>
    </article>
</section>

<!-- Comment Service Modal -->
<section class="modal fade" id="commentServiceModal" tabindex="-1" aria-labelledby="commentServiceModalLabel"
    aria-hidden="true">
    <article class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="commentServiceModalLabel">Comentar Serviço</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form #commentServiceForm="ngForm" (ngSubmit)="onCommentService(commentServiceForm)">
                    <div class="form-group">
                        <label for="comment">Comentário Sobre o Serviço</label>
                        <textarea class="form-control" ngModel name="comment"
                            placeholder="Comentário sobre o atendimento do serviço solicitado" id="comment"
                            required></textarea>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Fechar</button>
                        <button [disabled]="commentServiceForm.invalid" type="submit"
                            class="btn btn-success">Comentar</button>
                    </div>
                </form>
            </div>
        </div>
    </article>
</section>