@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

* {
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

body,
html {
  background-color: #fff;
  color: #101010;
  min-height: 100%;
  margin-bottom: 50px;
}

main {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

header {
  display: flex;
  justify-content: right;
  margin-bottom: 35px;
}

footer {
  height: 40px;
  background-color: #e4e2db;
  display: flex;
  justify-content: center;
  bottom: 0;
  width: 100%;
  padding: 10px;
  margin-top: 50px;
}


#login-section {
  background-color: #e4e2db;
  border-radius: 10px;
  padding: 30px 10px;
  margin-top: 30px;
}

#login-container {
  text-align: center;
  margin: auto;
  display: flex;
  justify-content: center;
}