<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<div class="container">
    <div class="row">
        <div *ngFor="let profile of profiles" class="col-md-6 col-xl-3">
            <div class="card m-b-30">
                <div class="card-body row">
                    <div class="col-6 card-title align-self-center mb-0">
                        <h5>{{profile.serviceType.description}}</h5>
                        <p class="m-0">{{profile.description}}</p>
                    </div>
                </div>
                <ul class="list-group list-group-flush">
                    <!-- <li class="list-group-item"><b>Valor: R$</b>XX,XX</li> -->
                    <li class="list-group-item"><b>Prestador: </b> {{profile.user.fullName}}</li>
                    <li class="list-group-item"><b>Cidade: </b> {{profile.city}}</li>
                </ul>
                <div class="card-body">
                    <div class="float-right btn-group btn-group-sm">
                        <button class="btn btn-success" type="submit">Solicitar</button>
                        <button class="btn btn-info" (click)="btnClick(profile)">Detalhes</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>