<nav class="navbar navbar-expand-lg navbar-dark bg-black fixed-top">
    <div class="container-fluid">
        <a class="navbar-brand" routerLink="">
            <img id="brand-image" src="../../../assets/img/logo-bg-black.png"
                alt="Link contendo o logotipo da empresa para voltar na página inicial. Representado pelo próprio nome da empresa Faz Para Mim">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar-toggler"
            aria-controls="navbar-toggler" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbar-toggler">
            <ul class="navbar-nav me-3">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" routerLink="about">Sobre</a>
                </li>
                <li *ngIf="getStorageUserTokenInfo()" class="nav-item dropdown">
                    <img class="rounded-circle image-position" id="profile-image" alt="User photo"
                        data-bs-toggle="dropdown" aria-expanded="false">
                    <div class="dropdown-menu dropdown-menu-end">
                        <a class="dropdown-item" aria-current="page"
                            routerLink="user/{{getStorageUserTokenInfo().id}}">Perfil</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" aria-current="page" *ngIf="!isCustomer()"
                            routerLink="services/provider/{{getStorageUserTokenInfo().id}}">Meus serviços</a>
                        <a class="dropdown-item" aria-current="page" *ngIf="isCustomer()"
                            routerLink="services/client/{{getStorageUserTokenInfo().id}}">Minhas solicitações</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item text-danger" href="#" (click)="onUserLogout()">Logout</a>
                    </div>
                </li>
            </ul>
            <button *ngIf="!getStorageUserTokenInfo()" class="btn btn-light" type="button"
                (click)="onLoginButton()">Login
                <img src="../../../assets/img/person-icon.svg" alt="Login icon">
            </button>
            <!--             <form class="d-flex" role="search">
                <input class="form-control me-2" type="search" placeholder="Procurar serviço" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Procurar</button>
            </form> -->
        </div>
    </div>
</nav>