<nav class="navbar navbar-expand-lg navbar-dark bg-black fixed-top">
    <div class="container-fluid">
        <a class="navbar-brand" routerLink="">
            <img id="brand-image" src="../../../assets/img/logo-bg-black.png"
                alt="Link contendo o logotipo da empresa para voltar na página inicial. Representado pelo próprio nome da empresa Faz Para Mim">
        </a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar-toggler"
            aria-controls="navbar-toggler" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse justify-content-end" id="navbar-toggler">
            <ul class="navbar-nav me-3">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" routerLink="about">Sobre</a>
                </li>
                <!--                 <li class="nav-item">
                    <a class="nav-link active" aria-current="page" routerLink="service">Serviços</a>
                </li> -->
                <li *ngIf="getUserInfo()">
                    <a class="nav-link active" aria-current="page" href="#" (click)="onUserLogout()">Logout</a>
                </li>
                <li *ngIf="getUserInfo()" class="nav-item dropdown">
                    <button class="btn btn-light dropdown-toggle" type="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        <img src="../../../assets/img/person-icon.svg" alt="User photo">
                    </button>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="#">Perfil</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Meus serviços</a>
                        <a class="dropdown-item" href="#">Minhas solicitações</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item text-danger" href="#">Logout</a>
                    </div>
                </li>
            </ul>

            <button *ngIf="!getUserInfo()" class="btn btn-light" type="button" (click)="onLoginButton()">Login
                <img src="../../../assets/img/person-icon.svg" alt="Login icon">
            </button>

            <!--             <form class="d-flex" role="search">
                <input class="form-control me-2" type="search" placeholder="Procurar serviço" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Procurar</button>
            </form> -->
        </div>
    </div>
</nav>

<!-- Add User Modal -->
<!-- <div class="modal fade" id="addUserModal" tabindex="-1" aria-labelledby="addUserModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="addUserModalLabel">Cadastrar Novo Usuário</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form #addUserForm="ngForm" (ngSubmit)="onAddUser(addUserForm)">
                    <div class="form-group">
                        <label for="fullName">Nome completo</label>
                        <input type="text" ngModel name="fullName" class="form-control" id="fullName"
                            placeholder="Insira seu nome completo" required>
                    </div>
                    <div class="form-group">
                        <label for="username">Email</label>
                        <input type="email" ngModel name="username" class="form-control" id="username"
                            placeholder="exemplo@email.com.br" required>
                    </div>
                    <div class="form-group">
                        <label for="password">Senha</label>
                        <input type="password" ngModel name="password" class="form-control" id="password"
                            placeholder="Senha" required>
                    </div>
                    <div class="form-group">
                        <label for="phone">Telefone</label>
                        <input type="text" ngModel name="phone" class="form-control" id="phone"
                            placeholder="(XX) XXXXX-XXXX" required>
                    </div>
                    <div class="form-group">
                        <label for="birthDate">Data de Nascimento</label>
                        <input type="text" ngModel name="birthDate" class="form-control" id="birthDate"
                            placeholder="dd/MM/AAAA" required>
                    </div>
                    <div class="form-group">
                        <label for="photo">Imagem URL</label>
                        <input type="text" ngModel name="photo" class="form-control" id="photo" required>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Fechar</button>
                        <button [disabled]="addUserForm.invalid" type="submit"
                            class="btn btn-success">Cadastrar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div> -->