#brand-image {
    height: 50px;
    width: 200px;
}

#profile-image {
    height: 40px;
    max-width: 90px;
    cursor: pointer;
}

a {
    cursor: pointer;
}

li {
    margin-left: 19px;
}