<!-- Add User Modal -->
<section class="modal fade" id="addUserModal" tabindex="-1" aria-labelledby="addUserModalLabel" aria-hidden="true">
    <article class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="addUserModalLabel">Cadastrar Novo Usuário</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form #addUserForm="ngForm" (ngSubmit)="onAddUser(addUserForm)">
                    <div class="form-group">
                        <label for="fullName">Nome Completo *</label>
                        <input type="text" ngModel name="fullName" class="form-control" id="fullName"
                            placeholder="Insira seu nome completo" required>
                    </div>
                    <div class="form-group">
                        <label for="username">Email *</label>
                        <input type="email" ngModel name="username" class="form-control" id="username"
                            placeholder="exemplo@email.com.br" required>
                    </div>
                    <div class="form-group">
                        <label for="password">Senha *</label>
                        <input type="password" ngModel name="password" class="form-control" id="password"
                            placeholder="Senha" required>
                    </div>
                    <div class="form-group">
                        <label for="phone">Telefone *</label>
                        <input type="text" ngModel name="phone" class="form-control" id="phone"
                            placeholder="(XX) XXXXX-XXXX" required>
                    </div>
                    <div class="form-group">
                        <label for="birthDate">Data de Nascimento *</label>
                        <input type="text" ngModel name="birthDate" class="form-control" id="birthDate"
                            placeholder="dd/MM/AAAA" required>
                    </div>
                    <div class="form-group">
                        <label for="photo">Imagem URL</label>
                        <input type="text" ngModel name="photo" class="form-control" id="photo" value="">
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Fechar</button>
                        <button [disabled]="addUserForm.invalid" type="submit"
                            class="btn btn-success">Cadastrar</button>
                    </div>
                </form>
            </div>
        </div>
    </article>
</section>

<!-- Update User Modal -->
<section class="modal fade" id="updateUserModal" tabindex="-1" aria-labelledby="updateUserModalLabel" aria-hidden="true"
    #onUpdateUserModal>
    <article class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="updateUserModalLabel">Dados Cadastrais do Usuário</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form #updateUserForm="ngForm" (ngSubmit)="onUpdateUser(updateUserForm)">
                    <div class="form-group">
                        <label for="fullNameUpdate">Nome completo</label>
                        <input type="text" ngModel="{{editUser?.fullName}}" name="fullName" class="form-control"
                            id="fullNameUpdate" placeholder="Insira seu nome completo" required>
                    </div>
                    <!--                     <div class="form-group">
                        <label for="usernameUpdate">Email</label>
                        <input type="email" ngModel="{{editUser?.username}}" name="username" class="form-control"
                            id="usernameUpdate" placeholder="exemplo@email.com.br" required>
                    </div> -->
                    <!--                     <div class="form-group">
                        <label for="passwordUpdate">Senha</label>
                        <input type="password" ngModel name="password" class="form-control" id="passwordUpdate"
                            placeholder="Senha" required>
                    </div> -->
                    <div class="form-group">
                        <label for="phoneUpdate">Telefone</label>
                        <input type="text" ngModel="{{editUser?.phone}}" name="phone" class="form-control"
                            id="phoneUpdate" placeholder="(XX) XXXXX-XXXX" required>
                    </div>
                    <div class="form-group">
                        <label for="birthDateUpdate">Data de Nascimento</label>
                        <input type="text" ngModel="{{editUser?.birthDate}}" name="birthDate" class="form-control"
                            id="birthDateUpdate" placeholder="dd/MM/AAAA" required>
                    </div>
                    <div class="form-group">
                        <label for="photoUpdate">Imagem URL</label>
                        <input type="text" ngModel="{{editUser?.photo}}" name="photo" class="form-control"
                            id="photoUpdate" required>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Fechar</button>
                        <button [disabled]="updateUserForm.invalid" type="submit"
                            class="btn btn-primary">Atualizar</button>
                    </div>
                </form>
            </div>
        </div>
    </article>
</section>

<!-- Add User Profile Modal -->
<section class="modal fade" id="addUserProfileModal" tabindex="-1" aria-labelledby="addUserProfileModalLabel"
    aria-hidden="true" #onAddUserProfileModal>
    <article class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="addUserProfileModalLabel">Dados Cadastrais do Prestador</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form #addUserProfileForm="ngForm" (ngSubmit)="onAddUserProfile(addUserProfileForm)">
                    <input hidden ngModel="{{getUserIdStorage()}}" name="user_id" id="user">

                    <div class="form-group">
                        <label for="description">Descrição *</label>
                        <textarea class="form-control" ngModel name="description" placeholder="Descrição do serviço"
                            id="description" required></textarea>
                    </div>
                    <div class="form-group">
                        <label for="city">Cidade *</label>
                        <input type="text" ngModel name="city" class="form-control" id="city"
                            placeholder="Insira a cidade em que prestará o serviço" required>
                    </div>
                    <div class="form-group">
                        <label for="serviceTypeId">Tag do Serviço *</label>
                        <select class="form-select" aria-label="Default select example" ngModel name="service_type_id">
                            <option value="" selected>Escolha o tipo de serviço</option>
                            <option *ngFor="let serviceType of servicesTypes" [value]="serviceType.id">
                                {{serviceType.description}}</option>
                            <!--                             <option value="2">Serviços Gerais</option>
                            <option value="3">Jardineiro</option>
                            <option value="4">Crossfiteiro</option>
                            <option value="5">Caçador de Insetos</option> -->
                        </select>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Fechar</button>
                        <button [disabled]="addUserProfileForm.invalid" type="submit" class="btn btn-success">Cadastrar
                            Perfil</button>
                    </div>
                </form>
            </div>
        </div>
    </article>
</section>