<section id="login-section">
    <h2>Login</h2>

    <div id="login-container">

        <form id="login-info-form">
            <p>
                <label for="usuario-login">Email</label>
                <input type="text" id="usuario-login">
            </p>

            <p>
                <label for="usuario-senha">Senha</label>
                <input type="password" id="usuario-senha">
            </p>

            <button type="submit" class="btn btn-success">Acessar</button>

            <a href="#">Cadastre-se</a>
        </form>
    </div>
</section>