<section id="login-section">

  <div id="login-container" *ngIf="!getUserInfo()">

    <form #loginForm="ngForm" (ngSubmit)="onUserLogin(loginForm)">
      <div class="form-group">
        <!-- <label for="usuario-login">Email</label> -->
        <input type="text" ngModel name="username" class="form-control" id="username" placeholder="example@email.com.br"
          required>
      </div>

      <div class="form-group">
        <!-- <label for="usuario-senha">Senha</label> -->
        <input type="password" ngModel name="password" class="form-control" id="passwordLogin" placeholder="senha"
          required>
      </div>

      <button type="submit" id="login-user-form" class="btn btn-success">Acessar</button>

      <a class="link pe-auto" (click)="onOpenModal(undefined, 'createUser')">Cadastre-se</a>
    </form>
  </div>
</section>

<!-- Add User Modal -->
<div class="modal fade" id="addUserModal" tabindex="-1" aria-labelledby="addUserModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="addUserModalLabel">Cadastrar Novo Usuário</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form #addUserForm="ngForm" (ngSubmit)="onAddUser(addUserForm)">
          <div class="form-group">
            <label for="name">Nome</label>
            <input type="text" ngModel name="name" class="form-control" id="name" placeholder="Nome" required>
          </div>
          <div class="form-group">
            <label for="email">Email</label>
            <input type="email" ngModel name="email" class="form-control" id="email" placeholder="Email" required>
          </div>
          <div class="form-group">
            <label for="password">Senha</label>
            <input type="password" ngModel name="password" class="form-control" id="password" placeholder="Senha"
              required>
          </div>
          <div class="form-group">
            <label for="phone">Telefone</label>
            <input type="text" ngModel name="phone" class="form-control" id="phone" placeholder="Telefone" required>
          </div>
          <div class="form-group">
            <label for="birthDate">Data de Nascimento</label>
            <input type="text" ngModel name="birthDate" class="form-control" id="birthDate" placeholder="dd/MM/AAAA"
              required>
          </div>
          <div class="form-group">
            <label for="photo">Imagem URL</label>
            <input type="text" ngModel name="photo" class="form-control" id="photo" required>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
            <button [disabled]="addUserForm.invalid" type="submit" class="btn btn-primary">Cadastrar</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>