<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<div class="container">
    <div class="row">
        <div class="col-md-6 col-xl-3">
            <div class="card m-b-30">
                <div class="card-body row">
                    <div class="col-6 card-title align-self-center mb-0">
                        <h5>Tag Serviço 1</h5>
                        <p class="m-0">Descrição do serviço 1</p>
                    </div>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item"><b>Valor: R$</b>XX,XX</li>
                    <li class="list-group-item"><b>Prestador: </b> Teste Dev</li>
                    <li class="list-group-item"><b>Cidade: </b> Cidade Teste</li>
                </ul>
                <div class="card-body">
                    <div class="float-right btn-group btn-group-sm">
                        <button class="btn btn-success" type="submit">Solicitar</button>
                        <button class="btn btn-info" (click)="btnClick()">Detalhes</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-xl-3">
            <div class="card m-b-30">
                <div class="card-body row">
                    <div class="col-6 card-title align-self-center mb-0">
                        <h5>Tag Serviço 2</h5>
                        <p class="m-0">Descrição do serviço 2</p>
                    </div>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item"><b>Valor: R$</b>XX,XX</li>
                    <li class="list-group-item"><b>Prestador: </b> Teste Dev</li>
                    <li class="list-group-item"><b>Cidade: </b> Cidade Teste</li>
                </ul>
                <div class="card-body">
                    <div class="float-right btn-group btn-group-sm">
                        <button class="btn btn-success" type="submit">Solicitar</button>
                        <button class="btn btn-info" (click)="btnClick()">Detalhes</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-xl-3">
            <div class="card m-b-30">
                <div class="card-body row">
                    <div class="col-6 card-title align-self-center mb-0">
                        <h5>Tag Serviço 3</h5>
                        <p class="m-0">Descrição do serviço 3</p>
                    </div>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item"><b>Valor: R$</b>XX,XX</li>
                    <li class="list-group-item"><b>Prestador: </b> Teste Dev</li>
                    <li class="list-group-item"><b>Cidade: </b> Cidade Teste</li>
                </ul>
                <div class="card-body">
                    <div class="float-right btn-group btn-group-sm">
                        <button class="btn btn-success" type="submit">Solicitar</button>
                        <button class="btn btn-info" (click)="btnClick()">Detalhes</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-xl-3">
            <div class="card m-b-30">
                <div class="card-body row">
                    <div class="col-6 card-title align-self-center mb-0">
                        <h5>Tag Serviço 4</h5>
                        <p class="m-0">Descrição do serviço 4</p>
                    </div>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item"><b>Valor: R$</b>XX,XX</li>
                    <li class="list-group-item"><b>Prestador: </b> Teste Dev</li>
                    <li class="list-group-item"><b>Cidade: </b> Cidade Teste</li>
                </ul>
                <div class="card-body">
                    <div class="float-right btn-group btn-group-sm">
                        <button class="btn btn-success" type="submit">Solicitar</button>
                        <button class="btn btn-info" (click)="btnClick()">Detalhes</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>